* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  
}

a{
    text-decoration: none;
    cursor: pointer;
}

.page-wrapper{
    width: 360px;
    height: 640px;
    display: table;
    background-color: #F6F2FF;
    position: relative;
}

.box-user{
    width: 286px;
    height: 149px;
    margin: 16px 0 0 37px;
    border-radius: 20px;
    background-color: #6368D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

/*FOOTER*/

footer{
    width: 290px;
    height: 70px;
    position: absolute;
    bottom: 0px;
    left: 35px;
    z-index: 1000;
    background-color: #F6F2FF;
    border-radius: 10px 10px 0 0px;
}

.icons-footer{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#details-icon{
    margin-top: 0px;
    margin-bottom: 20px;
}

/* CLASSES UTILITÁRIAS */

.cursor-pointer{
    cursor: pointer;
}

.box-margin{
    margin: 60px 0 0 37px;
}

.display-none{
    display: none;
}

.display-flex{
    display: flex;
}

/*TEXT*/

.font-normal{
    font-weight: 500;
}

.big-title{
    display: inline-block;
    width: 241px;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    color: #6368D9;
    text-align: center;
}

.text-md{
    font-size: 12px;
    font-weight: 500;
}

.text-mdx{
    font-size: 14px;
    font-weight: 700;
}

.text-sm{
    font-size: 11px;
    text-align: center;
}

.font-pop{
    font-family: 'Poppins', sans-serif;
}

.text-color-purple{
    color: #6368D9;
}

.text-color-gray{
    color: #9C98A1;
}

.text-color-white{
    color: #F6F2FF;
}


/* BOTÕES */

.page-button{
    width: 40px;
    height: 40px;
    padding-top: 3px;
    border-radius: 50%;
    background-color: #6368D9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 27px;
    bottom: 34px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.page-button:hover{
    transform: translateY(3px);
    background-color: #4c51a5;
}

.button-login input:hover{
    background-color: #4c51a5;
}

.md-button, .md-button-profile{
    width: 80px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 14px 0 0 18px;
    padding-top: 3px;
    border: none;
    color: #FFF;
    background-color: #D1D0F9;
    padding-bottom: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    line-height: 15px;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #6368D9;
}

.md-button:hover, .md-button-profile:hover{
    background-color: #e2e1fa;
    transform: translateY(2.5px);
}


/*PROFILE PICTURE*/
.picture_input{
    display: none;
}

.profile-picture{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
    border-radius: 50%;
    background-color: #ddd;
}

.picture_image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


