
/* PAGINA INICIAL */

.book-img{
    display: flex;
    margin-top: 87px;
    justify-content: center;
}

.home-title{
   width: 100%;
   display: block;
   text-align: center;
}

.info-user{
   width: 181px;
   height: 44px;
   display: flex;
   flex-direction: row;
   margin: 38px 0 0 0px;
}

.image-profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: table;
    border: 1px solid #6368D9;
}

.user-text{
    padding-left: 11px;
    padding-top: 7px;
    line-height: 15px;
}

.user-text h5{
    font-weight: 500;
}

.subtitle-home{
    margin: 40px 0 0 37px;
}

.box-user{
    margin: 96px 0 0 0px;
}

.tasks-completed{
    padding-top: 20px;
    padding-left: 18px;
}

.percentage-bar-border{
    width: 244px;
    height: 8px;
    border: 1px solid #D1D0F9;
    border-radius: 20px;
    margin-top: 3px;
    position: relative;
}   

#porcentage-bar{
    width: 242px;
    height: 6px;
    display: block;
    background-color: #D1D0F9;
    border-radius: 20px;
    margin-top: 3px;
    position: absolute;
    left: 0;
    top: -3px;
    
}   

.percentage-completed{
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
}

.tasks-todo{
    width: 135px;
    margin: 19px 0 0 18px;
    line-height: 17px;
}

.box-img-profile{
    position: absolute;
    bottom: 23px;
    right: 8px;
}

.task-subtitle{
    margin-top: 34px;
}

.grid-home{
    width: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box{
    width: 137px;
    height: 68px;
    border-radius: 15px;
    margin-top: 8px;
    background-color: #D1d0f9;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-grid, .qty-tasks-grid{
    width: 53px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 20px;
    line-height: 15px;
}

.qty-tasks-grid{
    font-weight: 500;
    line-height: 18px;
}

.img-home-grid{
    position: absolute;
    top: 24px;
    right: 21px;
}






