

.info-user{
   width: 181px;
   height: 44px;
   display: flex;
   flex-direction: row;
   margin: 38px 0 0 0px;
}

.image-profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: table;
    border: 1px solid #6368D9;
}

.user-text{
    padding-left: 22px;
    padding-top: 20px;
    line-height: 15px;
}

.user-text h5{
    font-weight: 700;
    font-size: 14px;
}

.user-text p{
    font-weight: 500;
    font-size: 12px;
}

.box-user{
    margin: 96px 0 0 0px;
}

.tasks-completed{
    padding-top: 20px;
    padding-left: 18px;
}


.percentage-completed{
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
}

.tasks-todo{
    width: 135px;
    margin: 19px 0 0 18px;
    line-height: 17px;
}

.box-img-profile{
    position: absolute;
    bottom: 23px;
    right: 8px;
}

.options-container{
    display: flex;
    flex-direction: column;
    margin-top: 43px;
}

.box-container{
    width: 288px;
    height: 36px;
    background-color: #D1D0F9;
    border-radius: 30px;
    margin-bottom: 7px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 17px;
}

.box-container p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #6368D9;
    padding-left: 7px;
}

.md-button-profile{
    width: 101px;
    position: absolute;
    top: 180px;
    left: 157px;
    margin-left: 0;
    background-color: #D1D0F9;
}

#text-completed{
    width: 156px;
}







