
.subtitle-todo h5{
    font-weight: 700;
}


.grid-home{
    width: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-box{
    width:286px;
    display: table;
    margin-bottom: 80px;
}

.box{
    width: 286px;
    height: 77px;
    border-radius: 15px;
    margin-top: 8px;
    background-color: #D1d0f9;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.category-task{
    font-style: italic;
}

.text-grid, .category-task, .time-task{
    width: 230px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 20px;
    line-height: 15px;
    padding-bottom: 2px;
}

.category-task{
    font-weight: 500;
    line-height: 18px;
}

.img-home-grid{
    position: absolute;
    top: 24px;
    right: 21px;
}

.time-task{
    font-weight: 500;
    line-height: 18px;
    display: flex;
    justify-content: start;
    align-items: center; 
}

.time-task img{
    margin-right: 6px;
}

.slider-task{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-task div{
    display: flex;
    padding-bottom: 4px;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #F6F2FF;
}

.day-task-box{
    width: 45px;
    height: 53px;
    border-radius: 10px;
    background-color: #D1D0F9;
    margin :21px 0 25px;
    cursor:pointer;
    user-select:none;
  
}

.day-task-box-selected{
    background-color: #6368D9;
    color: #D1D0F9;
}

.tabs{
    width: 292px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    user-select:none
}

.task-tabs{
    width: 100px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #D1D0F9;
    cursor: pointer;
}


.task-tabs span{
    color: #6368D9;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

#todo{
    width: 80px;
}

.selected-tab{
    background-color: #6368D9;
    color: #fff;
}

.selected-tab span{
    color: #FFF;
}


footer {
    position: absolute;
    flex-shrink: 0;
  }